<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
    <h2 th:text="'Edit user with id: ' + ${user.id}"></h2>
    <form th:action="@{/admin/users/edit}" th:object="${user}" th:method="patch">
        <input name="id" th:field="*{id}" th:value="${user.id}" hidden="hidden">

        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}" required>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
        </br>

        <label for="email">Password</label>
        <input type="text" id="password" th:name="password" placeholder="Enter new password">
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        </br>

        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" required>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        </br>

        <label for="age">Age</label>
        <input type="text" id="age" th:field="*{age}" required>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
        </br>

        <label>
            <th:block th:each="role: ${listRoles}">
                <input type="checkbox" th:field="*{roles}"
                       th:text="${role.name}" th:value="${role.id}" />
            </th:block>
        </label>
        </br>
        <button type="submit">update user</button>
    </form>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>