<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Create user</title>
</head>
<body>
    <h2>Create user</h2>
    <form th:action="@{/admin/users}" th:object="${user}" method="POST">
        <label for="email">Email</label>
        <input type="text" id="email" th:field="*{email}" required>
        <div style="color: red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name error</div>
        </br>

        <label for="password">Password</label>
        <input type="password" id="password" th:field="*{password}" required>
        <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
        </br>

        <label for="name">Name</label>
        <input type="text" id="name" th:field="*{name}" required>
        <div style="color: red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
        </br>

        <label for="age">Age</label>
        <input type="text" id="age" th:field="*{age}" required>
        <div style="color: red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Name error</div>
        </br>

        <th:block th:each="role: ${listRoles}">
            <input type="checkbox" th:field="*{roles}"
                   th:text="${role.name}" th:value="${role.id}"/>
        </th:block>
        </br>

        <button type="submit">create user</button>
    </form>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>