<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Information</title>
</head>
<body>
    <h2>User Information</h2>
    <p>
        <label>Email:</label>
        <span th:text="${user.email}"></span>
    </p>
    <p>
        <label>Name:</label>
        <span th:text="${user.name}"></span>
    </p>
    <p>
        <label>Age:</label>
        <span th:text="${user.age}"></span>
    </p>
    <br/>
    <form th:action="@{/logout}" method="POST">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>